@font-face {
    font-family: 'SF UI Display';
    src: url(../fonts/SF-UI-Display-Bold.ttf) format('ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'SF UI Display';
    src: url(../fonts/SF-UI-Display-Medium.ttf) format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'SF UI Display';
    src: url(../fonts/SF-UI-Display-Regular.ttf) format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'SF UI Display';
    src: url(../fonts/SF-UI-Display-Light.ttf) format('ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'New York Extra Large';
    src: url(../fonts/NewYorkExtraLargeBold.otf) format('opentype');
    font-weight: 700;
}
                

* {
    box-sizing: border-box;
}

body {
    font-family: 'SF UI Display', sans-serif;
    font-weight: 400;
    color: #000;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 5px;
}


.title-color {
    color:#FD665E;
}

.section-title {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2px;
    font-family: 'New York Extra Large', sans-serif;
    color: #000;
}

/* ====== header ======= */


.header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-nav {
    list-style: none;
    display: flex;
}

.header-nav__item {
    padding: 4px 24px;
}

.header-nav__link {
    font-size: 14px;
    line-height: 40px;
    color: #585858;
}

.header-nav__link:hover {
    text-decoration: underline;
    color: #000;
}

.header-control {
    display: flex;
    align-items: center;
}

.header-search {
    width: 0;
    border: none;
}
.header-search.active {
    width: 120px;
    border: 1px solid #585858;
    border-radius: 4px;
}
.search-btn {
    width: 26px;
    height: 26px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.basic-btn {
    padding: 4px 24px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    background-color: #FD665E;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.sigin-btn {
    background-color: transparent;
    color: #585858;
    margin: 0 16px;
}


/* ======== build ======= */


.build {
    padding-bottom: 48px;
}

.build-title {
    font-size: 112px;
    line-height: 112px; 
    letter-spacing: -4px; 
    font-family: 'New York Extra Large', sans-serif;
    color: #000;  
}

.build-content {
    display: flex;
    flex-wrap: wrap;
}

.build-content__item {
    max-width: 345px;
    padding-right: 55px;    
}

.build-content__text {
    font-size: 16px;
    color: #000;
    line-height: 26px;        
    margin-bottom: 48px;
}

.build-img__img {
    width: 100%;
}


/* ====== gallery ====== */


.gallery {
    padding: 48px 0;
}

.gallery-title {
    max-width: 535px;
    margin: 0 auto;
    margin-bottom: 40px;
}


.slaider-box {        
    position: relative;       
}

.slider__item {
    margin-right: 40px;   
}

.slick-slide {
    outline: none;
}


.slick-arrow {
    position: absolute;
    top: -80px; 
    width: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    border: none;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slick-next {    
    right: 0px;
    background-image: url(../img/slider/next-arrow.svg);
}

.slick-prev {
    right: 56px;
    background-image: url(../img/slider/prev-arrow.svg);
}

.slick-next.slick-disabled {
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;    
    background-image: url(../img/slider/next-arrow-dis.svg);
}

.slick-prev.slick-disabled {
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;    
    background-image: url(../img/slider/prev-arrow-dis.svg);
}


/* ====== features ======= */



.features {
    padding: 64px 0;
}

.features-title {
    max-width: 459px;
}

.features-content {
    display: flex;
}

.features__img {
    max-width: 535px;
}

.features__img-img {
    width: 100%;
}

.feateres-list {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.features-card {
    max-width: 391px;    
    display: flex;    
    margin-bottom: 48px;
    
}

.features-card__img {
    margin-right: 38px;
}

.features-card__content-title {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 8px;
}

.features-card__content-text {
    font-size: 16px;
    line-height: 26px;
}


/* ======= feedback ======= */


.feedback {
    padding: 64px 0;
    background: linear-gradient(180deg, #F9F9F9 22.12%, rgba(249, 249, 249, 0) 100%);
}

.feedback-title {
    max-width: 374px;
    margin-bottom: 46px;
}

.feed-slider-box {     
    max-width: 82%; 
    float: right  
}

.clear {
    clear: both;
}

.feed-slider-box {
    position: relative;
}

.feed-slider__item {
    width: 100%;
}

.feed-slider__item-content {
    display: flex;
    align-items: flex-start;
}

.feed-slider__item-img {
    padding-top: 30px;
    margin-right: 52px;
}

.feedback-text {    
    font-size: 32px;
    font-weight: 300;
    line-height: 51px;
}

.user-name {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
}

.user-position {
    font-size: 16px;
    line-height: 26px;
}

.feed-btn {
    top: 85%;
    z-index: 5;
}


/* ======= dream ======= */


.dream {
    padding: 64px 0;
}

.dream-content {
    display: flex;    
}

.dream-item {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
}

.dream-item__img {
    width: 90%;
}

.dream-title {
    max-width: 521px;
    margin-bottom: 64px;
}



/* ====== partners ====== */


.partners {
    padding: 64px 0;
    margin-bottom: 56px;
}

.partners-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/* ======= footer ======== */


.footer {
    padding: 90px 0;
    border-top: 1px solid #F0F0F0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
}

.footer-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 40px;
    color: #585858;
    margin-right: 48px;
}

.footer-link:hover {
    text-decoration: underline;
    color: #000;
}